body {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}

/* header section */
.hero * { 
  z-index: 10;
}

.hero {
  background: url(../images/zorik-d-smthngsmwhre-unsplash.jpg) no-repeat center center/cover;
  height: 80vh;
  position: relative;
  color: #fff;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(62 62 62 / 90%);
}

.hero > .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero > .hero-content h1 {
  font-size: 7vw;
  color: #fff;
  font-style: italic;
}

.main-heading {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  text-shadow: 7px 4px 9px rgba(0, 0, 0, 0.61);
  margin-top: 0.313rem;
  font-weight: 700;
  text-align: center;
  font-size: 5vw;
  font-style: italic;
  color: #fff;
}

/* main section */
.container {
  background: linear-gradient(to right, #4776e6, #8e54e9);
  margin-top: 0.313rem;
}

.setlist-heading {
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.setlist-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 4fr));
  padding: 0.625rem;
  gap: 0.625rem;
}

.set {
  background-color: #fff;
}

h2 {
  color: #333;
  text-align: center;
  padding: 0.625rem;
}

iframe {
  margin-bottom: 0.313rem;
  padding: 0rem 0.625rem;
}

/* photo section */
.photo-collage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 5fr));
  margin-top: 0.313rem;
  gap: 0.188rem;
}

.photo-collage img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.photo-collage img:hover {
  transform: scale(0.9);
  box-shadow: 0 32px 75px rgba(68, 99, 136, 0.2);
}

/* Wrapper */
.collage-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 100%);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.collage-wrapper img {
  width: 30%;
  height: auto;
  background-color: #fff;
  padding: 0.25rem;
}

.collage-wrapper span {
  position: absolute;
  top: 3%;
  right: 32%;
  font-size: 1.875rem;
  color: #fff;
  cursor: pointer;
}

/* footer section */
footer {
  background: linear-gradient(to right, #373b44, #4286f4);
  margin-top: 0.313rem;
  padding: 0.625rem;
}

.center-section {
  text-align: center;
}

.phrase {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
}

.instagram {
    font-size: 2rem;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 100%;
}

.instagram i {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.instagram:hover {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}

.copyright {
  font-size: 0.7rem;
  color: #fff;
}