body {
  font-family: "Inter", sans-serif;
}

/* header section */
header {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.main-heading {
  text-shadow: 7px 4px 9px rgba(0, 0, 0, 0.61);
  font-weight: 700;
  text-align: center;
  font-size: 7rem;
  font-style: italic;
  color: #fff;
}

/* main section */
.container {
  background: linear-gradient(to right, #4776e6, #8e54e9);
  margin-top: 0.313rem;
}

.setlist-heading {
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.setlist-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 4fr));
  padding: 0.625rem;
  gap: 0.625rem;
}

.set {
  background-color: #fff;
}

h2 {
  color: #333;
  text-align: center;
  padding: 0.625rem;
}

iframe {
  margin-bottom: 0.313rem;
  padding: 0rem 0.625rem;
}

/* photo section */
.photo-collage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 5fr));
  margin-top: 0.313rem;
  gap: 0.188rem;
}

.photo-collage img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.photo-collage img:hover {
  transform: scale(0.9);
  box-shadow: 0 32px 75px rgba(68, 99, 136, 0.2);
}

/* Wrapper */
.collage-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.collage-wrapper img {
  width: 60%;
  height: auto;
  background-color: #fff;
  padding: 0.25rem;
}

.collage-wrapper span {
  position: absolute;
  top: 5%;
  right: 17%;
  font-size: 1.875rem;
  color: #fff;
  cursor: pointer;
}

/* footer section */
footer {
  background: linear-gradient(to right, #373b44, #4286f4);
  margin-top: 0.313rem;
  padding: 0.625rem;
}

.center-section {
  text-align: center;
}

.phrase {
  color: #fff;
  font-size: 1rem;
  font-style: italic;
}

.instagram {
  font-size: 3rem;
  color: #fff;
}

.instagram:hover {
  color: rgb(205, 72, 107);
  transition: 0.3s;
}

.copyright {
  font-size: rem;
  color: #fff;
}